rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /restaurants/{rid}/{col=**}/{doc} {
      // القراءة للجميع
      allow read: if true;
      // الكتابة فقط لمن يملك توكن به claim role = admin أو editor
      allow write: if request.auth != null &&
                   (request.auth.token.role == 'admin' ||
                    request.auth.token.role == 'editor');
    }
  }
}
